<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>laykefu客服</title>
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="laykefu客服">
    <meta name="description" content="laykefu客服">
    <link rel="shortcut icon" href="favicon.ico">
    <link href="/static/customer/css/laykefu.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <pre style="padding-top: 50px;padding-left: 50px;color:#000">
    只需引入css和js并进行简单配置就能够在已有的网站增加客服功能
    laykefu已实现功能:
        用户端
        1.文字、表情、图片消息发送和接收。 
        2.自适应移动端。
        3.支持多客服模式。
        4.可自定义样式。 
        5.消息时间记录。 
        6.新消息title提醒。
        7.对接已有用户系统。
        8.大图模式，图片可放大缩小。
        9.开源免授权，可随意使用。

        客服端
        1.客服转接。
        2.文字、表情、图片消息发送和接收。
        3.访客信息查看。
        4.常用语。

        管理端
        1.分组管理
        2.客服管理
        3.常用语设置
        4.历史会话
        5.系统设置
    </pre>   
<!-- 右侧悬浮 -->       
<div class="laykefu-min " id="show-laykefu">咨询客服</div>
<!-- 右侧悬浮 -->

<script src="https://cdn.staticfile.org/jquery/2.1.4/jquery.min.js"></script>
<script src="/static/customer/js/reconnecting-websocket.js"></script>    
<script src="/static/customer/js/laykefu.js"></script>
<script type="text/javascript">
  var host = document.domain;
  laykefu.init({
    group: 1,//客服分组
    socket: host+':7272',//聊天服务器地址
    face_path:'/static/customer/images/face',//表情包路径
    upload_url:'/index/upload/uploadImg',//图片上传路径
  });

</script>
</body>
</html>
