<li class="menu">
    <a href="#">
        <i class="fa fa-qq"></i>
        <span class="nav-label">客服管理</span>
        <span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        <li>
            <a class="J_menuItem" href="{:url('users/index')}">客服列表</a>
        </li>
        <li>
            <a class="J_menuItem" href="{:url('users/addUser')}">添加客服</a>
        </li>
    </ul>
</li>
<li class="menu">
    <a href="#">
        <i class="fa fa-group"></i>
        <span class="nav-label">分组管理</span>
        <span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        <li>
            <a class="J_menuItem" href="{:url('groups/index')}">分组列表</a>
        </li>
        <li>
            <a class="J_menuItem" href="{:url('groups/addGroup')}">添加分组</a>
        </li>
    </ul>
</li>
<li class="menu">
    <a href="#">
        <i class="fa fa-user"></i>
        <span class="nav-label">管理员管理</span>
        <span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        <li>
            <a class="J_menuItem" href="{:url('admins/index')}">管理员列表</a>
        </li>
        <li>
            <a class="J_menuItem" href="{:url('admins/addAdmin')}">添加管理员</a>
        </li>
    </ul>
</li>
<li class="menu">
    <a href="#">
        <i class="fa fa-comments-o"></i>
        <span class="nav-label">常用语管理</span>
        <span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        <li>
            <a class="J_menuItem" href="{:url('words/index')}">常用语列表</a>
        </li>
        <li>
            <a class="J_menuItem" href="{:url('words/addword')}">添加常用语</a>
        </li>
    </ul>
</li>
<!--<li class="menu">
    <a href="#">
        <i class="fa fa-android"></i>
        <span class="nav-label">机器应答管理</span>
        <span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        <li>
            <a class="J_menuItem" href="{:url('words/index')}">应答列表</a>
        </li>
        <li>
            <a class="J_menuItem" href="{:url('words/addword')}">添加应答</a>
        </li>
    </ul>
</li>-->
<li class="menu">
    <a href="#">
        <i class="fa fa-gear"></i>
        <span class="nav-label">系统设置</span>
        <span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        <li>
            <a class="J_menuItem" href="{:url('system/reply')}">自动回复设置</a>
        </li>
        <li>
            <a class="J_menuItem" href="{:url('system/customerService')}">客服设置</a>
        </li>
    </ul>
</li>

<li class="menu">
    <a href="#">
        <i class="fa fa fa-bar-chart-o"></i>
        <span class="nav-label">历史会话记录</span>
        <span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        <li>
            <a class="J_menuItem" href="{:url('system/wordsLog')}">历史会话</a>
        </li>
    </ul>
</li>